The dataset for these exercises lives in the Codeup Data Science MySQL Server. The database name is curriculum_logs.


Go through the lesson commenting code, adding docstrings, and adding markdown to support what is happening.


Bonus:


Discover users who are accessing our curriculum pages way beyond the end of their codeup time. What would the dataframe look like? Use time series method for detecting anomalies, like exponential moving average with %b.


Can you label students who are viewing both the web dev and data science curriculum? Can you label students by the program they are in? Can you label users by student vs. staff?

In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import env

In [35]:
def get_connection(db, user=env.user, host=env.host, password=env.password):
    '''This function uses credentials from an env file to log into a database'''
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'

In [36]:
def get_curriculum_data():
    '''The function uses the get_connection function to connect to a database and retrieve the curriculum_logs dataset'''
    return pd.read_sql('SELECT * FROM logs', get_connection('curriculum_logs'))

In [37]:
df = get_curriculum_data()

In [38]:
df.head()

,date,time,path,user_id,cohort_id,ip
0,2018-01-26,09:55:03,/,1,8.0,97.105.19.61
1,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61
2,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61
3,2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61
4,2018-01-26,09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900223 entries, 0 to 900222
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   date       900223 non-null  object
 1   time       900223 non-null  object
 2   path       900222 non-null  object
 3   user_id    900223 non-null  int64
 4   cohort_id  847330 non-null  float64
 5   ip         900223 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 41.2+ MB

In [40]:
df.cohort_id.value_counts(dropna=False)

28.0     84031
NaN      52893
33.0     40730
29.0     38096
62.0     37109
53.0     36902
24.0     35636
57.0     33844
56.0     33568
51.0     32888
59.0     32015
22.0     30926
58.0     29855
32.0     29356
23.0     28534
52.0     28033
26.0     27749
34.0     26538
25.0     25586
31.0     25359
132.0    23691
55.0     21582
27.0     20743
61.0     17713
134.0    16623
135.0    16397
133.0    14715
14.0      9587
1.0       8890
137.0     8562
21.0      7444
138.0     7276
17.0      4954
13.0      2845
18.0      2158
8.0       1712
139.0     1672
19.0      1237
16.0       755
15.0       691
7.0        598
12.0       302
11.0       253
2.0         93
6.0         72
9.0          5
4.0          4
5.0          1
Name: cohort_id, dtype: int64

In [41]:
df.cohort_id = df.cohort_id.fillna(0.0)

In [42]:
df

,date,time,path,user_id,cohort_id,ip
0,2018-01-26,09:55:03,/,1,8.0,97.105.19.61
1,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61
2,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61
3,2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61
4,2018-01-26,09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61
...,...,...,...,...,...,...
900218,2021-04-21,16:41:51,jquery/personal-site,64,28.0,71.150.217.33
900219,2021-04-21,16:42:02,jquery/mapbox-api,64,28.0,71.150.217.33
900220,2021-04-21,16:42:09,jquery/ajax/weather-map,64,28.0,71.150.217.33
900221,2021-04-21,16:44:37,anomaly-detection/discrete-probabilistic-methods,744,28.0,24.160.137.86
900222,2021-04-21,16:44:39,jquery/mapbox-api,64,28.0,71.150.217.33

In [43]:
df['datetime'] = df[['date', 'time']].T.agg(' '.join)

In [44]:
df

,date,time,path,user_id,cohort_id,ip,datetime
0,2018-01-26,09:55:03,/,1,8.0,97.105.19.61,2018-01-26 09:55:03
1,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61,2018-01-26 09:56:02
2,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61,2018-01-26 09:56:05
3,2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61,2018-01-26 09:56:06
4,2018-01-26,09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61,2018-01-26 09:56:24
...,...,...,...,...,...,...,...
900218,2021-04-21,16:41:51,jquery/personal-site,64,28.0,71.150.217.33,2021-04-21 16:41:51
900219,2021-04-21,16:42:02,jquery/mapbox-api,64,28.0,71.150.217.33,2021-04-21 16:42:02
900220,2021-04-21,16:42:09,jquery/ajax/weather-map,64,28.0,71.150.217.33,2021-04-21 16:42:09
900221,2021-04-21,16:44:37,anomaly-detection/discrete-probabilistic-methods,744,28.0,24.160.137.86,2021-04-21 16:44:37
900222,2021-04-21,16:44:39,jquery/mapbox-api,64,28.0,71.150.217.33,2021-04-21 16:44:39

In [45]:
df = df.drop(columns=['date','time'])
df

,path,user_id,cohort_id,ip,datetime
0,/,1,8.0,97.105.19.61,2018-01-26 09:55:03
1,java-ii,1,8.0,97.105.19.61,2018-01-26 09:56:02
2,java-ii/object-oriented-programming,1,8.0,97.105.19.61,2018-01-26 09:56:05
3,slides/object_oriented_programming,1,8.0,97.105.19.61,2018-01-26 09:56:06
4,javascript-i/conditionals,2,22.0,97.105.19.61,2018-01-26 09:56:24
...,...,...,...,...,...
900218,jquery/personal-site,64,28.0,71.150.217.33,2021-04-21 16:41:51
900219,jquery/mapbox-api,64,28.0,71.150.217.33,2021-04-21 16:42:02
900220,jquery/ajax/weather-map,64,28.0,71.150.217.33,2021-04-21 16:42:09
900221,anomaly-detection/discrete-probabilistic-methods,744,28.0,24.160.137.86,2021-04-21 16:44:37
900222,jquery/mapbox-api,64,28.0,71.150.217.33,2021-04-21 16:44:39

In [46]:
df.datetime = pd.to_datetime(df.datetime)
df = df.set_index(df.datetime)

In [47]:
df

,path,user_id,cohort_id,ip,datetime
datetime,,,,,
2018-01-26 09:55:03,/,1,8.0,97.105.19.61,2018-01-26 09:55:03
2018-01-26 09:56:02,java-ii,1,8.0,97.105.19.61,2018-01-26 09:56:02
2018-01-26 09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61,2018-01-26 09:56:05
2018-01-26 09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61,2018-01-26 09:56:06
2018-01-26 09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61,2018-01-26 09:56:24
...,...,...,...,...,...
2021-04-21 16:41:51,jquery/personal-site,64,28.0,71.150.217.33,2021-04-21 16:41:51
2021-04-21 16:42:02,jquery/mapbox-api,64,28.0,71.150.217.33,2021-04-21 16:42:02
2021-04-21 16:42:09,jquery/ajax/weather-map,64,28.0,71.150.217.33,2021-04-21 16:42:09
2021-04-21 16:44:37,anomaly-detection/discrete-probabilistic-methods,744,28.0,24.160.137.86,2021-04-21 16:44:37
2021-04-21 16:44:39,jquery/mapbox-api,64,28.0,71.150.217.33,2021-04-21 16:44:39